<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Header Title</title>

<!-- Site Wide CSS -->
<style type="text/css" media="screen">@import "styles/position.css";</style>
<style type="text/css" media="screen">@import "styles/styles.css";</style>
<style type="text/css" media="screen">@import "styles/headertabs.css";</style>
<!-- Temporary Borders used for testing <style type="text/css" media="screen">@import "styles/tempborders.css";</style>-->
<!-- End Site Wide CSS -->

<!-- Site Wide JavaScript -->
<script src="scripts/headertabs.js" type="text/javascript"></script>
<script src="scripts/tabcookies.js" type="text/javascript"></script>
<script src="scripts/tags.js" type="text/javascript"></script>
<script src="scripts/prototype.js" type="text/javascript"></script>
<script src="scripts/scriptaculous.js?load=effects,dragdrop" type="text/javascript"></script>
<script src="scripts/findxy.js" type="text/javascript"></script>
<!-- End Site Wide JavaScript -->

</head>

<body>

<!--START Title Header -->
<div id="headerbar">
<a id="TitleHeader" name="TitleHeader"></a>

	<div class="header" id="myHeader">

		<div id="header_currentMenuContainer" class="headertab">
	    	<h2>Tab 1</h2>
				<div id="header_submenu1" class="submenulinks">
					<a href="#">Sub Navigation 1a</a> <a href="#">Sub Navigation 2a</a> <a href="#">Sub Navigation 3a</a> <a href="#">Sub Navigation 4a</a>
				</div>
	    </div>


			
			<div id="sidebar_tab2" class="headertab">
	    	<h2>Tab 2</h2>
				<div id="header_submenu2" class="submenulinks">
					<a href="#">Sub Navigation 1b</a> <a href="#">Sub Navigation 2b</a> <a href="#">Sub Navigation 3b</a> <a href="#">Sub Navigation 4b</a> 
				</div>
	    </div>
	    
	    <div id="sidebar_tab3" class="headertab">
	    	<h2>Tab 3</h2>
				<div id="header_submenu3" class="submenulinks">
					<a href="#">Sub Navigation 1c</a> <a href="#">Sub Navigation 2c</a> <a href="#">Sub Navigation 3c</a> <a href="#">Sub Navigation 4c</a> 
				</div>
	    </div>
	</div>
</div>
<!--END Title Header -->
</body>
</html>
