
a.glossaryLink {
font-weight: bold;
color: #9CCF00;
text-decoration:none;
}

.right {
margin: 0px;
padding:0px;
position:absolute;
right:0px;
margin-right:5px;
margin-top: 5px;
}

.bigtext {
font-size: 1.2em
}

.blue {
color: #0061AD;
}

#tab_projInfo_body h5
{
border-bottom: 1px solid #C6D7F7;
display:block;
margin:10px 0px;
font-size: 1.2em;
}

#tab_projInfo_body ul
{
list-style-type:square;
color:#C6D7F7;
}


#gs_results h3
{
margin:-.2em auto -.6em auto;
}

#gs_results img
{
text-align:center;
vertical-align: middle;
margin-right: 10px;
}

#gs_typecontainer ol
{
padding-left: 50px;
}

.cssbox_body .active
{
background: #06c;
padding: 2px; 
color: #ffffff;
}
