#keywords ul{margin:0px;padding:0px;}
#keywords li 
{
list-style-type:none;
padding:.2em;
margin:.2em;
display:inline;
line-height:2em;
background:#fff;
border:1px solid #B4D579;
}

#keywords, #mod-announcements, #recent-discussions, #popular-discussions
{
margin:0em auto 2em auto;
}

#keywords {padding:5px;}

a {color:#000;text-decoration:none;}

.kwNav {text-align:right}
.kwNav span {margin-right:10px;}