/* grade colors */

.gradeA, .gradeAMinus, .gradeBPlus, .gradeB, .gradeBMinus, .gradeCPlus, .gradeC, .gradeCMinus, .gradeDPlus, .gradeD, .gradeDMinus,.gradeFPlus,.gradeF 
{
font-weight:bold;
height:2em;
padding:5px;
text-align:center;
}

.gradeA {background:#53BE2F}
.gradeAMinus {background:#67C551}
.gradeBPlus {background:#86D276}
.gradeB {background:#A2DD96}
.gradeBMinus {background:#C2E9B9}
.gradeCPlus {background:#E1F5DD}
.gradeC {background:#FFFFFF}
.gradeCMinus {background:#F0D5D7}
.gradeDPlus {background:#E3AFB3}
.gradeD {background:#D78C93}
.gradeDMinus {background:#C9636D}
.gradeFPlus {background:#BC3D4A;color:#fff;}
.gradeF {background:#B2172D;color:#fff;}