body {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: small;
}

.listtable {
  border:solid 1px #CCCCCC;
  border-collapse:collapse;
  padding:1;
}

.listtable td {
	font-size: small;
	text-align: left;
	vertical-align: top;
	padding: 2px;
}

.index {
	text-align: center;
	vertical-align: top;
	background-color: #EEEEEE;
	color: #330066;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.title {
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.dialog {
  position:absolute;
  z-Index:10000;
  background:white;
  display:none;
  padding:0px;
	border-top: 1px solid #5c6f84;
	border-bottom: 2px solid #5c6f84;
	border-right: 2px solid #5c6f84;
	border-left: 2px solid #5c6f84;
}

.dialog .body {
  padding:2px;
}

.inputbox {
  border:solid 1px gray;
}

td.outtop {
	font-size: small;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 3px;
}

td.outleft {
	font-size: small;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 3px;
}

td.outright {
	font-size: small;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 3px;
}

td.hidetop {
	font-size: small;
  border-bottom: 1px solid black;
  margin-left: 3px;
  cursor: pointer; cursor: hand;
}

td.hidenone {
	font-size: small;
  cursor: pointer; cursor: hand;
}

td.hideleft {
	font-size: small;
  cursor: pointer; cursor: hand;
}

td.hideright {
	font-size: small;
  border-left: 1px solid black;
  margin-left: 3px;
  cursor: pointer; cursor: hand;
}

