#manager {margin-top:20px;}

#newTable {font-size:10pt;width:100%;margin-top:10px;}
#newTable th {font-weight:bold;}
#newTable th, #left-col #newTable td {padding:5px;}
#newTable td {padding:5px;}
#newTable input {float:right;}

#workflows th {background:#E1F1C5}
#workflows td {background:#FDFFF7;border-bottom:1px solid #DAEABE;}
#templates th {background:#ADCFDE}
#templates td {background:#EEF4F7;border-bottom:1px solid #ADCFDE;}

.running, .finished, .noActive{
padding-right:0px;
margin-top:10px;
border-bottom:1px solid #B4D579;
background:#EEF7DD;
}

.noActive {border-bottom-width:2px;text-align:center;}

.running ul li {list-style:none;}
.running ul {padding-left:12px;}
.running h4 {margin:10px 0px -10px 0px;}

.wfblue {background:#ADCFDE;margin-right:5px;}
.wfgreen {background:#E1F1C5;}

.wfblue,.wfgreen {
padding:5px 10px 11px 10px;
font-size:10pt;
font-weight:bold;
-moz-border-radius:6px 6px 0px 0px;
}


