/* 	Participatory GIS for Transportation - PGIST Portal
		CSS written by: Jordan Isip and John Le
*/

html, body { padding: 0; margin: 0; }
body {
	font: normal 12px/1.5em "Verdana", "Arial", sans-serif;
	background: #fff; color: #666; padding-top: 5px;}
	
body a{ color:#333; }
body a:hover{ background:#06c; color:#eee;}

/* Structure DIVs */

#slate{}
	.slate{
		background-color: #EEF3D8;
		padding: 5px;
		position: relative;
		top: +15px;
		border: 1px solid #ccc;
		border-top: 1px solid #98A072;}
	
	.suppSlate{
		border: 1px solid #ccc;
		padding: 5px;
		position: relative;
		top: +15px;}
	
	.fullBox {
		width: 99%;}
		
	.leftBox{
		width: 63%;
		float: left;}

#overview {
	border: 1px solid #CCCCCC;
	position: relative;
	width: 99%;
	height: 100%;
  padding: 5px;
  -moz-border-radius: 16px;}


#bar, #tagSelector{
	width:33%;
	float: right;
	position: relative;}	

#tagSelector{
	border: 1px solid #ccc;
	border-bottom: 2px solid #999;
	margin-top: 15px;
	padding-bottom: 14px;
	padding-left: 3px;
	width: 33%;
	background-image: url(/images/pulldownback.gif);
	background-repeat: no-repeat;
	background-position: bottom center;}
	
#caughtException{
	background: #FFCCCC;
	padding: 5px;
	border: 1px solid #FF0000;
	border-left: 5px solid #FF0000;
	width: 90%;
	margin: auto;
	margin-top: 10px;
	display: none;
}

#container {
	width: 90%;
	margin: auto;}

#authentication{
	padding-top: 10px;}

#decorBar {
	width: 100%;
	border-top: thick solid #0061A8;
	left: 0px;
	top: 0px;
	height: 5px;
	position: absolute;}


#logo {
	width: 486px;
	height: 82px;
	position: absolute;
	top: 10px;
	left:0;
	text-align: left;}
	
#pageTitle{
	clear: both;
	padding-top: 10px;
	padding-bottom: 5px;}

#searchNavContiner{
	width: 100%;
	height: 93px;
	float: right;
	background-image: url(/images/header_background.jpg);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: bottom;
	text-align:right;}


#mainSearch{
	position: absolute;
	width: 100%;
	height: 60px;
  bottom: 0;
  text-align: right; }


#navContent{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 5px;
	padding-bottom:2px;}

#navContent ul{
	display: inline;}

#navContent ul li{
	margin-left: 0;
	border: none;
	list-style: none;
	display: inline;}
	
#navigation {
	width: 100%;
	clear: both;}

#validation{
	background: #FFCCCC;
	padding: 1px;
	border: 1px solid #FF0000;
	border-left: 5px solid #FF0000;
	width: 90%;
	margin: auto;}

#lightbox{
	display:none;
	position: absolute;
	top:60%;
	left:50%;
	z-index:9999;
	width:400px;
	
	margin:-220px 0 0 -250px;
	border:10px solid #CCC;
	background:#FDFCE9;
	text-align:left;
	padding: 10px;}

	#lightbox[id]{
		position:fixed;}
	
	#overlay{
		display:none;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:5000;
		background-color:#000;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);}
	#overlay[id]{
		position:fixed;}


#footer {
	width: 100%;
	height: 67px;
	float: right;
	background-image: url(/images/footer_background.jpg);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

#nsf {
	width:100%;
	background-color:#EEEEEE;
	clear: both;
	font-size: 10px;
	color:#888;
}

#topTags{
	width: 95%
	margin: auto;
}


/* Headings H1-H6 */
h1, h2, h3, h4, h5, h6{
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  letter-spacing:-1px;
  margin:15px 0 0 0;
  margin-top:0px;
  display:inline;
  font-weight: 400;}


h1 {

}


h2{
	margin-top: 15px;
	margin-bottom: 0px;
  color:#0061A8;
  font-size:1.6em;
}

h3{
	margin-top: 15px;
	margin-bottom: 0px;
  color:#8DAD1F;
  font-size:1.6em;
}

h4{
	  color:#98A072;
	  margin-bottom:3px;
	  font-size: 1.4em;}

h5{
		color: #999;
	  font-size: 1.4em;}
}

/* Paragraph and Link Styles */
p {color: #333;}

a:visited{
	color: #006699;}
	
small{
	font-size: 11px;
	color: #666;
	font-weight: normal;}

.participantName {
	color: #999;
	font-size: 1.1em;	}

.participantName a{
	color: #0061A8;
	font-size: 1.1;
	text-decoration: underline;}

.participantName a:hover{
	color: #EEE;
	font-size: 1.1;
	text-decoration: underline;}

.actionMenu{
	font-size: 10px;
	color: #333;
	width: 100%;
	}

.actionMenu a{
	font-size: 10px;
	color: #0061A8;}


hr {
	border-top: 1px solid #06c;}
	
	
	
/* Lists and Navigation */
#bread{
	margin: 0;}

	#bread ul {
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
		display: inline;
		border: none;} 
	
	#bread ul li {
		margin-left: 0;
		border: none;
		list-style: none;
		display: inline;}
		
	#bread ul li a{
		font-size: 10px;
		color: #999;
		font-weight: bold;}
	
	#bread ul li a:hover{
		color:#EEE;}
	
	#bread-gen ul li:before {
		content: "\0020 \0020 \0020 \00BB \0020";
		color: #ff9;}
		
	#bread-gen ul li.first:before {
		content: " ";}



.navigation a{
	color: #fff;
	text-decoration: none;
	padding: 4px;
	font-size: 1.00em;
	font-weight: 300;
	margin-left: 4px;
}

.navigation a:hover{
	border: 1px solid #355800;
	background: #FFF;
	border-bottom: 1px solid #fff;
	color: #355800;
	padding: 3px;
}

.active a{
	color: #355800;
	border: 1px solid #355800;
	background: #FFF;
	border-bottom: 1px solid #fff;
	padding: 3px;
}


.searchBox{
	background: #FFF;
	color: #AAA;
	border:1px solid #CCC;
	height:18px;
	font-size: 16px;
	width:200px;
	padding: 3px;
}

.indent {
	padding-left: 20px;
}




/* ////// STOP WORDS SPECIFIC//////// */
	
ul.stopWordList{
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
  list-style: none;
}
 
.col0, .col1, .col2, .col3, .col4 {
  float: left;
	width: 20%
}
 
.breaker{
	clear: both;
}

ul.tagsList{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	display: inline;
	line-height: 15px;
}

ul.tagsList img{
	padding-left: 3px;
}

li.tagsList{
	line-height: 25px;
	margin-right: 3px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 2px;
	border: 1px solid #CDC;
	list-style: none;
	display: inline;
	color: #878;
	text-decoration: none;
}





.validation{
	background: #FFCCCC;
	padding: 5px;
	border: 1px solid #FF0000;
	border-left: 5px solid #FF0000;
	width: 90%;
	margin: auto;
}

.successful{
	background: #EEF3D8;
	padding: 1px;
	border: 1px solid #355800;
	border-left: 5px solid #355800;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}


#footerContainer {
	width: 100%;
	clear: both;
	position: relative;
	top: 30px;
	margin-bottom: 25px;
}



.textareaAddConcern{
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	width: 93%;

	font-size: 13px;
	color: #333333;
	margin-left: 20px;
	margin-right: 20px;
	word-wrap: break-word;
}

.searchTagTextbox{
	position: absolute;
	right: 0;
	font-size: 14px;
	color: #AAA;
	width: 70%;
	border: 1px solid #ccc;
}

#tagIndicator{
	position: absolute;
	right: 0;
	top: 0;
}

.tagTextbox{
	background: #fff;
	color: #878;
	padding: 1px;
	border: 1px solid #CDC;
}



#finished_img{
	float: right;
	width: 35%;
	text-align: right;
	padding-top: 5px;
}

.highlight{
	background:#ffc;
}



#prevNext_container{
   position: relative;
   height: 20px;
   width: 98%;
   margin: auto;
}

#previous{
   position: absolute;
   left: 0;
   width: 50%;
}

#next{
   position: absolute;
   right: 0;
   width: 50%;
   text-align: right; 
}

.prevNext a{
	border: 1px solid #CCCCCC;
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	background: #EEE;
}

.prevNext a:hover{
	color: #EEE;
	background: #0061A8;
}

#searchTag_container{
   position: relative;
   height: 25px;
   width: 100%;
   margin: auto;
}

#searchTag_title{
   position: absolute;
   left: 0;
   width: 50%;
   vertical-align: bottom;
}

#searchTag_form{
   position: absolute;
   right: 0;
   width: 50%;
   text-align: left; 

}

#tagSearchResults{
	clear: both;
}



/* /////////////////////////////  Tags and Concerns////////////////////////// */

.theConcern:hover{
	background:#EEF3BA;
}

.smallHelp {
	font-size: .85em;
}

.includeExclude{
	font-size: 12px;
	margin-right: 5px;
	line-height: 20px;
	margin-top: 10px;
	color: #878;
	padding: 1px;
	border: 1px solid #CDC;
	text-decoration: none;
	font-weight: normal;
}

.tags{
	font-size: 12px;
	margin-right: 5px;
	line-height: 20px;
	margin-top: 10px;
}
	
.tags a{
	color: #878;
	padding: 1px;
	border: 1px solid #CDC;
	border-bottom: 1px solid #069;
	text-decoration: none;
	font-weight: normal;
}

.tags a:hover{
	color: #eee;
}

.concerns{
	font-size: 13px;
}

.tagSize1 a, .tagSize2 a, .tagSize3 a, .tagSize4 a{
	color: #878;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #CDC;
	border-bottom: 1px solid #069;
	text-decoration: none;
	margin-right: 3px;
}

.tagSize1 a{
	font-size: 14px;
	font-weight: normal;
}

.tagSize2 a{
	font-size: 18px;
	font-weight: normal;
}

.tagSize3 a{
	font-size: 20px;
	font-weight: normal;
}

.tagSize4 a{
	font-size: 20px;
	font-weight: bold;
}

.tagSize1, .tagSize2, .tagSize3, .tagSize4{
	margin-right: 5px;
	line-height: 25px;
	margin-top: 10px;
}



/* ///////////////////////////// LIGHTBOX ////////////////////////// */


.closeBox{
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	padding-right: 5px;
	font-size: 10px;}
	
.pullDown{
	margin: 0;
	position: absolute;
	bottom: -2px;
	left: -47px;
	}


.glossary a{
	text-decoration: none;
	font-weight: normal;
	color: #333;
	border-bottom: 1px dotted #333;
}




/* ///////////////////////////// CST Specific ////////////////////////// */
#panelContainer {
	width:100%;
	padding-top:20px;
}

#panelCats,#panelTagsInCats {
	padding: 5px;
	float: left;
	width:30%;
	position: relative;
}
#panelTagsInCats {
	margin-left: 2%;
	margin-right: 2%;
}

#panelTICContent, #panelCatsContent{
	border: 1px solid #ccc;
	width: 100%;
	padding: 5px;
	position:absolute;
	overflow: auto;
	top:0;
	margin-top: 70px;
	height: 350px;
}

.panelTitle{
	width: 100%;
	height: 40px;
}

#summary{
	clear: both;
}

/* Slate Rounded ///////////////////////////////////*/
#slateRounded{
	position: relative;
	margin: 0 auto;
	top: +15px;
	width: 50%;
	
}
.slateRounded{
	display:block
}
.slateRounded *{
	display:block;
	height:1px;
	overflow:hidden;
	background:#DDDDDD;
}
.slateRounded1{
	border-right:1px solid #f7f7f7;
	padding-right:1px;
	margin-right:3px;
	border-left:1px solid #f7f7f7;
	padding-left:1px;
	margin-left:3px;
	background:#f2f2f2;
}
.slateRounded2{
	border-right:1px solid #fdfdfd;
	border-left:1px solid #fdfdfd;
	padding:0px 1px;
	background:#f1f1f1;
	margin:0px 1px;
}
.slateRounded3{
	border-right:1px solid #f1f1f1;
	border-left:1px solid #f1f1f1;
	margin:0px 1px;
}
.slateRounded4{
	border-right:1px solid #f7f7f7;
	border-left:1px solid #f7f7f7;
}
.slateRounded5{
	border-right:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
}
.slateRounded_content{
	padding:0px 5px;
	background:#DDDDDD;
	padding-left: 40px;
	padding-right: 40px;
} 

/* ///////////////////////////// FORM ////////////////////////// */

.title_form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #0061A8;
	font-weight: bold;	
}




label {
	color: #222222;
	font-weight: bold;
	text-transform: uppercase;
	
	font-size: X-small;
}

.inputBox {
	display: block;
	margin-bottom: 1.25em;
	border-color: black;
	border-width: 1px;
	width: 300px;
	height: 25px;
	font-size: 18px;
	color: #333333;
}

.inputRadio {
width: 20px
}


#slateRounded br{
	display: none;
}

th {background-color: #EEEEEE; color:#333;}