/* PGIST CSS POSITION File */
/* John Le & Jordan Isip */

html, body {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	/* Set font size trick as jordan again */
}
input.search {
	height: 15px;
	width: 120px;
}
#addConcern {
	width: 90%;
}
#bar { /*merged*/
	padding: 0em;
}
#caughtException {
	margin-top: 10px;
	display: none;
}
#container {
	position: relative;
    min-height: 100%;
	margin: 0;
}
#cont-main {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 800px;
	position: relative;
	/*margin-bottom: 1em;*/
}
#cont-top {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 800px;
}
#col-left { /*merged*/
	width: 64%;
	float: left;
	height: 100%;
}
#col-right { /*merged*/
	width: 35%;
	float: right;	
	height: 100%;
}
#discussion-cont {
	border-left: 1px solid #7888A9;
	border-bottom: 1px solid #7888A9;
	border-right: 1px solid #7888A9;
	/*padding: 5px;*/
	background-color: #C0D7F6;
	margin-right: 15px;
	margin-left: 15px;
}
#discussion-cont td {
	padding-left: 3px;
	padding-right: 3px;
}
#finished {
	margin-top: 2em;
	margin-right: 15px;
	margin-left: 15px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#footer {
	/*position: absolute;*/
	bottom: 0;
	margin-top: 25px;
	height: 252px;
	width: 100%;
}
#footer_text {
	padding-top: 180px;
	bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
#footprints {
	margin-top: 0;
}
#header {
	width: 100%;
	height: 15px;
}
#headerbar {
	height: 20px;
	width: 100%;
	text-align: right;
}
#headerbuttons {
	position: absolute;
	right: 15px;
	top: 87px;
	margin: 0;
	bottom: 0;
}
#headerbuttons a{
	padding: 2px 6px 3px 6px;
}
#headernav {

	margin-bottom: 10px;
	margin-top: 20px;
	padding: 0em;
	padding-top: 40px;
}
#maintop {
	background: #EBEFF2;
	border-left: 1px solid #CCCCCC !important;
	border-top: 1px solid #CCCCCC !important;
	height: 14px;
	padding: 0 10px;
}
#maincontent {
	background: #EBEFF2;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}
#myHeader {
	height: 90%;
	margin-top: 0px;
}
#newDiscussion {
	margin-left: 35px;
	margin-right: 35px;
}
#newdisc_content {
	padding: 5px;
	padding-top: 0px;
}
#newdisc_title {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
}
#login {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: right;	
	width: 90%;
}
#object td {
	padding-left: 3px;
	padding-right: 3px;
}
#post {
	padding: .1em .4em .1em .4em;
}
#replies { /*merged*/
	padding: .1em .4em .1em .4em;
	margin: auto;
	width: 95%;
}
#searchbox { /*merged*/
	text-align: right;
	margin-bottom: 10px;
	position: absolute;
	right: 41px;
	top: 52px;
}
#searchresults {
	display: none;
}
#slate { /*merged*/
	margin-bottom: 1em;
	padding: .4em;
	height: 40%;
}
#sidebar {
	border: 1px solid #7888A9;
	border-bottom: 0px;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0;
	/*height: 100%;
	height: 410px;*/
	height: 100%;
}
#sidebarmiddle {
	background-image: url(../images/sidebar_middle.gif);
	background-repeat: repeat-y;
}
#sidebartd { /* may not use */
	position: relative;
	padding-bottom: 30px;
} 

#sidebar_content {
	margin: 10px;
	margin-top: 5px;
	margin-left: 20px;
	height: 100%;
	/*margin-bottom: 70px;*/
}
#sidebarbottom {

}
#sidebarbottom_disc {
	margin-left: 5px;
	background-color: #C0D7F6;
	border-left: 1px solid #7888A9;
}
#sidebarbottom_newdisc {
	margin-left: 25px;
	background-color: #999999;
}
#sidebarnavi {
	position: absolute;
	bottom: 2px;
	margin-right: 3px;
	background-color: #FFFFFF;
	/*
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	*/
}
#subheader {
	margin-top: 1em;
	margin-bottom: 0;
}
#submit {
	width: 20px;
	position: absolute;
	right: 20px;
	top: 52px;
}
#submit { /*merged*/
	width: 20px;
	position: absolute;
	right: 0px;
	top: 12px;
}
#suppSlate { /*merged*/
	margin-bottom: 1em;
	padding: .4em;
	height: 29%;
}
#tagSelector {
	background-color: #EFEFEF;
	border-bottom: 1px solid #7888A9;
	color:#666666;
	padding: 3px;
	margin: 0;
}

/*CSS Classes */
.clear {
	clear: both;
}
.imgright {
	float: right;
	margin-left: 10px;
}
.jumpmenu {
	float: right;
	text-align: right;
	margin-right: 275px;
}
.padding {
	padding: 5px;
}
.padding-sides {
	padding-left: 5px;
	padding-right: 5px;
}
.pages {
	text-align: center;
	margin: .5em;
}
.sidebardisc {
	margin-right: 10px;
	margin-left: 10px;
	line-height:normal;
	margin-top: 15px;
}
.textcenter {
	text-align: center;
}
.textright { /* possibly not being used */
	float: right;
	margin-right: 10px;
	text-align: right;
}
.textalignright {
	text-align: right;
	margin-top: 0;
}
/* SpiffyBox CSS */
/* set the image to use and establish the lower-right position */ 
.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h3{ 
	background: transparent url(../images/img.php.png) no-repeat bottom right} 
.cssbox{ /* intended total box width - padding-right(next) */ 
	width: 99% !important; /* IE Win = width - padding */ 
	width: 98%; /* the gap on the right edge of the image (not content padding) */ 
	padding-right:15px; /* use to position the box */
	margin:20px auto;
	} /* set the top-right image */ 
	
.cssbox_head{
	background-position:top right; /* pull the right image over on top of border */ 
	margin-right:-15px; /* right-image-gap + right-inside padding */ 
	padding-right:40px} /* set the top-left image */ 
.cssbox_head h3{ 
	background-position:top left; 
	margin:0; /* reset main site styles*/ 
	border:0; /* ditto */ /* padding-left = image gap + interior padding ... no padding-right */ 
	padding:15px 0 0px 18px; 
	height:auto !important; 
	height:1%
	} /* IE Holly Hack */ /* set the lower-left corner image */ 
.cssbox_body{ 
	background-position:bottom left; 
	margin-right:25px; /* interior-padding right */ 
	padding: 1px 0 5px 5px
	} /* mirror .cssbox_head right/left */
.cssbox_body p {
	padding: 0px 0px 0px 14px;
}
/* End SpiffyBox CSS */