#email, #password {
margin:20px auto;
padding:10px;
width:500px;
}

#email #errors, #password #errors {
margin:10px 0px;
}

#email input, #password input{padding:3px;font-size:13pt}
#email input[type="submit"]{margin-left:10px;}
#email h2, #password h2{color:#31496B}
#password input#sub{}

#email .prow, #password .prow{
padding:0px;
}

#email .plabel, #password .plabel{
float:left;
width:250px;
padding:5px 0px;
text-align:right;
margin-right:10px;
margin-bottom:5px;
}

#email .plabel {width:150px;}
#email .pvalue, #password .pvalue{margin:5px;}

#errors{
color:#D85703;
font-weight:bold;
}