body{font-size:12pt;}

fieldset
{
border:2px solid #ADCFDE;
padding:5px 10px;
margin:1em auto;
}

fieldset p {padding-bottom:0px;}

legend
{
font-size:1.3em;
margin:px;
padding:5px;
font-weight:bold;
color:#31496B;
}

.form-left, .form-right {margin:1em auto;}

.form-left
{
float:left;
width:60%;
}


.form-right
{
float:right;
width:35%;
margin:auto 1em;
}


/* Step progress bar */

	#step-bar {margin-bottom:1em}
	#step-progress {width:150px;margin:0px 5px;font-size:1.5em;text-align:center;}
	#submit-description {width:550px;margin:0px 10px;}
	#submit-button {padding:5px;margin:0px 5px;}
	#submit-button input {font-size:1.5em}
	
/* ####### registration-2.html */

.consent-label 
{
float:left;
font-size:.9em;
width:400px;
margin:auto 2em;
text-align:right;
}

span.consent-value span {margin-right:4em;}

.consent-value {float:left;width:400px;}

.consent-value small {font-size:.8em;color:#777;}

#agreement 
{
height:200px;
overflow:auto;
padding:10px;
margin:1em auto;
}

#agreement h3 {text-decoration:underline;font-size:13pt;margin:20px 0px;}
#agreement h2 {font-size:14pt}