#container {padding:1em;font-size:11pt;}
#object{padding:5px;border:1px solid #ADCFDE}

#obj-right {margin:0px 0px 20px 20px;background-color:#C4D88C;}

h3{
font-size:16pt;
background:#ADCFDE;
color:#31496B;
padding:5px;
margin-bottom:10px;
}

h4
{
font-size:12pt;
margin:5px 0px;
padding:0px;
text-align:left;
color:#31496B;
}

/* Table styles for this page */

#newTable td.fundingSourceItem {width:60%;}
#newTable td.fundingSourceItem + td {width:25%;text-align:center;}
#newTable td.fundingSourceItem + td +td {width:15%;}

.headingColor{background:#ADCFDE;font-weight:bold;}
.objectives ul{text-align:left}
.objectives ul span 

.label 
{
float:left;
font-size:.9em;
margin:auto 0em auto 2em;
text-align:left;
background:#ccc;
}

.value {float:right;width:200px;}

li span {font-weight:bold;}

#project-moneyNeeded {
display:block;
font-size:13pt;
margin-top:20px;
}

#feedbackForm h3 {background:none;}