.criteriaListRow
{
padding:.3em 0em;
background:#E4ECEF;
}

.criteriaListHeader h4
{
margin:0px;
}


#allCriteriaList
{
text-align:left;
width:950px;
}

.even {background: #ffffff}

.weighCriteriaCol1
{
width:250px;
margin-right:.5em;
padding:5px;
}

.weighCriteriaCol1 img
{
margin:0px 3px 0px 0px;
vertical-align:middle;
border:0px;
}

.weighCriteriaCol2
{
width:650px;
padding:5px;
}


}	

h4
{
font-size:1em;
margin:0px;
padding:0px;
}

.objectives
{
padding:.5em;
background:#fff;
}

ul#fundingSourceList{list-style:none}
