/* HTML Elements */
/* ------------- */

h4
{
font-size:1em;
margin:0px;
padding:0px;
}

/* COLORS and COLOR SCHEMES */
/* ------------------------ */

.even {background: #ffffff}

/* STRUCTURAL ELEMENTS (Mostly IDs) */
/* -------------------------------- */

#allCriteriaList
{
text-align:left;
}

/* GLOBAL CLASSES */
/* -------------- */



/* SPECIFIC CLASSES */
/* ---------------- */

.criteriaCol1
{
width:210px;
margin-right:.5em;
}

.criteriaCol1 img
{
margin:0px 3px 0px 0px;
vertical-align:middle;
border:0px;
}

.criteriaCol2
{
width:330px;
}

.criteriaCol3
{
margin-left:.5em;
width:220px;
}	

.criteriaListHeader
{
background:#fff;
}

.criteriaListRow
{
background:#E7F2F7;
padding:.3em 0em;
}

.objectives
{
padding:.5em;
}

.weighCriteriaCol1
{
width:210px;
margin-right:.5em;
}

.weighCriteriaCol1 img
{
margin:0px 3px 0px 0px;
vertical-align:middle;
border:0px;
}

.weighCriteriaCol2
{
width:330px;
}

.weighCriteriaCol3
{
margin-left:.5em;
width:370px;
}	


/* LINKS */
/* ----- */
