/* Applies to Step 3a: Review Projects */

#container {margin-bottom:2em;}

#newTable table {width:100%}
#newTable .fundingSourceItem{width:50%;}
#newTable .col2{width:50%;font-size:10pt;text-align:right}

#rp3a-left {width:520px;font-size:10pt;}
#map {width:420px;background-color:#C4D88C;}

.objectives table {width:100%;text-align:left;}
.objectives table td.col1{width:80%}
.objectives table td.cost{width:20%;text-align:left;}