/* Main Style CSS Template by John Le BETA 1 6/15/2006*/

/*
Table of Contents
- HTML Elements (All Heading CSS)
- ID's
- Classes
*/

/* HTML Elements */
body {
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	font-size: .9em;
	line-height: 1.5em;
	background-image: url(../images/bg_gradient.png);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	}
body a{ 
	color:#333; 
	}
body a:hover{ 
	background:#06c; 
	color:#eee;
	}
h1, h2, h3, h4, h5, h6{
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	margin:15px 0 0 0;
	margin-top:0px;	
	font-weight: 400;
	/*display:inline;*/
	}
h1	{
	color: #8DAD1F;
	display:inline;
	font-size: 1.8em;
	}
h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	color:#6C6C6C;
	font-size:1.7em;
	display:inline;
	}
h3 {
	margin-top: 15px;
	margin-bottom: 0px;
	color:#0061A8;
	font-size:1.5em;
	}
h4 {
	/*color:#98A072;*/
	color: #999999;
	margin-bottom:3px;
	font-size: 1.4em;
	}
h5	{
	color: #999;
	font-size: 1.3em;
	display: inline;
	}

/* CSS ID's */
#bar {
	
}
#bar-content { /*delete? */

}
#caughtException {
	background: #FFCCCC;
	border: 1px solid #FF0000;
	border-left: 5px solid #FF0000;
}
#clear {

	}
#col-left {
	
	}
#col-right {

	}
#container {

	}	
#discussion {
	border: 1px solid #CCCCCC;
	border-top: 0px solid #fff !important;  
	
}
#finished {
	border: 1px solid #999999;
	background-color: #C0D7F6;
}
#footer {
	border: 1px solid #CCCCCC;
	}
#footer_text {
	font-size: .8em;
	line-height: 1.2em;
	color: #999999;
	}
#footprints {

}
#footprints p{
	font-size: .9em;
	color: #7888A9;
}
#header {
	border-bottom: 3px solid #6C6352;;
	background-color: #7888A9;
	background-image: url(../images/texture_diag.png);
	background-position:left;
	background-repeat: repeat;	
}
#header_cat {
	border-left: 1px solid #7888A9;
	border-right: 1px solid #7888A9;
	background: #7888A9;
	}
#header_cat a:link {
	color: #FFFFFF;
}

#header_discussion{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	}
#header_object{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #fff;
	}
#main {

	}
#object {
	border: 1px solid #CCCCCC;
	border-top: 0px solid #FFFFFF;
	}
#object_column ul li a {
	color: #000099;
	text-decoration: underline;
}
#object_column ul li a:hover {
	color: #FFF; /* white */
	background-color: #C0D7F6;
}
#overview {
	border: 1px solid #CCCCCC;
	}
#post {
	border: 1px solid #CCCCCC;
	}
#replies {
	border: 1px solid #CCCCCC;
	border-top: 0px;
	}
#slate {
	border: 1px solid #CCCCCC;
	}
#submit {
	border: 1px solid #CCCCCC;
	border-left: 0px;
}
#suppSlate {
	border: 1px solid #CCCCCC;
	}
#tabber {
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 0px 0px 1px 0px;
	}
#tagSelector {
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #F2E3EB; 
	background-color: #E9EFD3;
	}
#themesummary {
	border: 1px solid #CCCCCC;
	}
#toggle{
	border-left: 1px solid #C0D7F6;
	border-right: 1px solid #C0D7F6;
	background-color: #7888A9;
	background-image: url(../images/texture_diag.png);
	background-position:left;
	background-repeat: repeat;	
	}
	
/* Classes */
.allBlue { /*Blue Borders and Background */
	background-color: #C0D7F6 !important;
	border-color: #C0D7F6 !important;
	border-width: 2px;
}
.allGreen{
	background-color: #98A072 !important;
	border: 2px solid #98A072 !important;
}
.blueBB { /*Blue Borders and Background */
	background-color: #EBEFF2 !important;
	border-color: #C0D7F6 !important;
	border-width: 2px;
}
.darkblue {
	background-color: #7888A9 !important;
	border-color: #7888A9 !important;
}
.disc_row_a {

}
.disc_row_b {
	background-color: #C0D7F6;
}
.greenBB{/*green Borders and Background */
	background-color: #E9EFD3 !important;
	border: 2px solid  #98A072 !important;
}
.pages {

}
.pages a, .pages span{
	border: 1px solid #999999;
	text-decoration: none;
	padding: .0em;
	padding-right: .4em;
	padding-left: .4em;
}
.pages_current {
	color: #FFF;
	background-color: #999999;
}
.pages_prev {
	color: #CCCCCC;
	border-color: #CCCCCC !important;
}
.pages_nextprev {

}
.smalltext { 
	font-size: .75em;
	line-height: 1.2em;
	color: #7888A9;
}
.whitelinks {
	
}


input.search {
	border: 1px solid #CCCCCC;
	border-right: 0px;
	color: #C0C0C0;
	padding-left: 3px;
	padding-top: 2px;
}


