/* PGIST CSS Style File */
/* John Le & Jordan Isip */

/* 
Color Guide 
Dark Blue: #7888A9
Medium Blue: #C0D7F6
Grey Blue: #C5D0E4
Light Blue: #EBEFF2
Sidebar blue: #DAE1E7
Weird Green in logo: #8DAD1F
*/

/* HTML Elements */
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: .9em;
	line-height: 1.5em;
	background-image: url(../images/bg_gradient.png);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	}
body a{ 
	color:#333; 
	}
body a:hover{ 
	background:#06c; 
	color:#eee;
	}
h1, h2, h3, h4, h5, h6{
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	margin:15px 0 0 0;
	margin-top:0px;	
	font-weight: 400;
	/*display:inline;*/
	}
h1	{
	color: #8DAD1F;
	display:inline;
	font-size: 1.8em;
	}
h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	color:#6C6C6C;
	font-size:1.7em;
	display:inline;
	}
h3 {
	margin-top: 15px;
	margin-bottom: 0px;
	color:#0061A8;
	font-size:1.5em;
	
	}
h4 {
	/*color:#98A072;*/
	color:#0061A8;
	margin-bottom:3px;
	font-size: 1.4em;
	display:inline;
	}
h5	{
	color: #999;
	font-size: 1.1em;
	display:inline;
	}
h5 a{
	color: #666;
}
h6 {
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	color: #98A072;
	margin-bottom:3px;
	font-size: 1.2em;
	letter-spacing: 0px;
	}
#addFilter{
	background: #DAE1E7; 
	width: 90%; 
	border: 2px solid #ccc; 
	margin: 0px auto; 
	padding: 2px;
}
	
#btn_search_1 {
	margin: 0;
	vertical-align: bottom;

}
#btn_logout {
	background-color: #FFFFFF !important;
	border: 0;
}
#caughtException {
	background: #FFCCCC;
	border: 1px solid #FF0000;
	border-left: 5px solid #FF0000;
}
#feedbackForm{
	background: #CCC;
	border: 3px solid #3A3A3A;
	padding: 5px;
	margin: 0px 20px; 
}
#feedbackDiv{
	
}
#feedback_input{	
	width: 100%;
}
#finished {
	background-color: #C0D7F6;
}
#finished p{
	font-size: 11px;
}
#footer {
	background-image: url(/images/footerclouds.png);
	background-position: left bottom;
	background-repeat: repeat-x;
}
#footer_text {
	font-size: .8em;
	line-height: 1.2em;
	color: #999999;
}
#header {
	width: 100%;
	height: 15px;
	border-bottom: 3px solid #6C6352;;
	background-color: #7888A9;
	background-image: url(/images/texture_diag.png);
	background-position:left;
	background-repeat: repeat;
}
#headerbar {
	margin-top: 0px;
	height: 20px;
	width: 100%;
	text-align: right;
	background-color: #7888A9;
	border-bottom: 3px solid #C0D7F6;
	color: #FFFFFF;
}
#headerbuttons {
	text-align: right;
	right: 35px;
	padding-right: 15px;

}
#headerbuttons a{
	padding: 2px 6px 3px 6px;
	border: 1px solid #7888A9;
	border-bottom: 0px;
	text-decoration: none;
	border: 1px solid #7888A9;
	border-bottom: 0px;
	text-decoration: none;
}
#headerbuttons a:hover {
	background-color: #C0D7F6;
	color: #666666;
}
#headernav {
	padding: 0em;
	padding-top: 20px;
	background-image: url(/images/mainlogo.png);
	background-position: bottom left;
	background-repeat: no-repeat;
}
#loading-indicator{
	display: none;
	background-color: red;
	color: white;
	position: fixed;
	top: 0;
	left:0;
	padding: 3px;
	z-index: 500;
}

#login {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: right;	
	width: 90%;
}

#newDiscussion {
	border-left: 1px solid #7888A9;
	border-right: 1px solid #7888A9;
}
#newdisc_title {
	background-color: #999999;	
}

#object p{
	font-size: 1.0em;
	line-height: 22px;
}
#searchbox { /*merged*/
	text-align: right;
	margin-bottom: 10px;
}
/*
#sidebarnavi {
	border-bottom: 1px solid #7888A9;
	border-right: 1px solid #7888A9;
	}
	*/
#submit {
	/*border: 1px solid #CCCCCC;*/
	border-left: 0px;
	padding: 0;
}
#tagSearch {
	margin: 0;

}
/* Classes */
.allBlue { /*Blue Borders and Background */
	background-color: #C0D7F6 !important;
	border-color: #C0D7F6 !important;
	border-width: 2px;
}
.allGreen{
	background-color: #98A072 !important;
	border: 2px solid #98A072 !important;
}
.button {
	border: 0px;
	margin: 2px;
	vertical-align: bottom;
}
.button a {
	
}
.button a:hover {
	background-color: !important;
}
.blueBB { /*Blue Borders and Background */
	/*background-color: #EBEFF2 !important;*/
	border-color: #C0D7F6 !important;
	border-width: 2px;
}
.bluescheme {
	border: 1px solid #7888A9;
	border-top-width: 5px;
	background-color: #EBEFF2;
}
.bluetitle {
	background-color: #7888A9;
	border-bottom: 3px solid #C0D7F6;
	color: #FFFFFF;
}
.borderblue {
	border: 1px solid #7888A9;
}
.darkblue {
	background-color: #7888A9 !important;
	border-color: #7888A9 !important;
}
.darkgrey {
	background-color: #999999;
	color: #FFFFFF;
}
.darkgreytext {
	color: #666666 !important;
}
.disc_row_a {
	background-color: #EBEFF2;
}
.disc_row_b {
	background-color: #DAE1E7;
}
.disc_row_c {
	background-color: #E9EFD3;
}
.disc_row_d {
	background-color: #D2DFA8;
}
.glossHighlight, .glossHighlight a {
	text-decoration: none; 
	border-bottom: 1px dotted blue;
	}
.greenBB{/*green Borders and Background */
	background-color: #E9EFD3 !important;
	border: 2px solid  #98A072 !important;
}

.greyscheme {

	border: 1px solid #7888A9;
	background-color: #EBEFF2;
	padding: 10px;
}
.greyonwhite {
	border: 1px solid #666666;
	background-color: #FFFFFF;
}
.headerbuttons_selected {
	background-color: #7888A9;
	color: #FFFFFF;
}
.objectblue, .objectblue a {
	background-color: #7888A9 !important;
	border-color: #7888A9 !important;
	color: #FFFFFF;
}
.objectblue a:hover {
	color: #C0D7F6 !important;
}
.objectgreen, .objectgreen a {
	background-color: #98A072 !important;
	border-color: #98A072 !important;
	color: #FFFFFF;
}
.objectgreen a:hover {
	color: #C0D7F6 !important;
}
.pages{text-align: left;}
.pages ul {
	display:inline;
	margin:0;
	padding:0;
}
.pages li, .pages span{
	display:inline;
	border: 1px solid #7888A9;
	text-decoration: none;
	padding: .0em;
	padding-right: .4em;
	padding-left: .4em;
}
.pages a {
	color: #7888A9;
	text-decoration: none;
}
.pages_current {
	color: #FFF;
	background-color: #7888A9;
}
.pages_prev {
	color: #CCCCCC;
	border-color: #CCCCCC !important;
}
.pages_nextprev{

}
.participantName a { /*merged*/
	color: #0061A8;
	font-size: 1.0em;
	text-decoration: underline;
}
	
.prevNext a{ /*merged*/
	border: 1px solid #CCCCCC;
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	background: #EEE;
}
.quickPostContents { /*merged*/
	padding: 0px 5px;
	margin-left: 15px;
	background: #fff;
	color: #333;
	border: 1px solid #C0D7F6;
}
.replies {
	border: 1px solid #7888A9;
	background-color: #FFFFFF;
}
.sidebarstyle {
	border: 1px solid #7888A9;
	background-color: #FFFFFF;
}
.smalltext { /* used for footprints */
	font-family: Arial, Verdana, sans-serif;
	font-size: .9em;
	color: #7888A9;
}
.tabledisc {
	border-collapse: collapse;
}
.tabledisc td{
	border: 1px solid #7888A9;
}
.tabledisc_green {
	border-collapse: collapse;
}
.tabledisc_green td{
	border: 1px solid #98A072;
}
/*Tag Styles*/


.tags{
	font-size: 12px;
	margin-right: 5px;
	line-height: 20px;
	margin-top: 10px;
}
	
.tags a{
	color: #878;
	padding: 1px;
	border: 1px solid #C5D0E4;
	/*border-bottom: 1px solid #069;*/
	text-decoration: none;
	font-weight: normal;
	
}

.tags a:hover{
	color: #eee;
}

.concerns{
	font-size: 13px;
}

.tagSize1 a, .tagSize2 a, .tagSize3 a, .tagSize4 a{
	color: #878;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #C5D0E4;
	text-decoration: none;
	margin-right: 3px;
}

.tagSize1 a{
	font-size: 14px;
	font-weight: normal;
}

.tagSize2 a{
	font-size: 18px;
	font-weight: normal;
}

.tagSize3 a{
	font-size: 20px;
	font-weight: normal;
}

.tagSize4 a{
	font-size: 20px;
	font-weight: bold;
}

.tagSize1, .tagSize2, .tagSize3, .tagSize4{
	margin-right: 5px;
	line-height: 25px;
	margin-top: 10px;
}

ul.tagsList{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	display: inline;
	line-height: 15px;
}

ul.tagsList img{
	padding-left: 3px;
}

li.tagsList{
	line-height: 25px;
	margin-right: 3px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 2px;
	border: 1px solid #CDC;
	list-style: none;
	display: inline;
	color: #878;
	text-decoration: none;
}

.post{
	background: #fff;
	margin-top: 10px;
}

.voting{
	float:right; 
	width: 250px; 
	border: 3px solid #ccc; 
	padding: 5px; 
	margin: 10px;
}