/* Main Style CSS Template by John Le BETA 1 6/15/2006*/

/*
Table of Contents
- HTML Elements (All Heading CSS)
- ID's
- Classes
	- tag classes
	
	
Color Pallette
- Bright green (see h1): #8DAD1F
- Light green (see tagSelector): #E9EFD3
- Medium green (see tagSel Border): #F2E3EB
- Dark green (see h4): #98A072
- Dark purpleish (see h2): #6C6C6C
- Light blue: #F1F7FF
- Medium blue (see h3): #98A072
*/

/* HTML Elements */
body {
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	font-size: .9em;
  color: #444;
	line-height: 1.5em;
	background-image: url(/images/bg_gradient.png);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	}
body a{ 
	color:#333; 
	}
body a:hover{ 
	background:#06c; 
	color:#eee;
	}
h1, h2, h3, h4, h5, h6{
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	letter-spacing:-1px;
	margin:15px 0 0 0;
	margin-top:0px;	
	font-weight: 400;
	/*display:inline;*/
	}
h1	{
	color: #8DAD1F;
	display:inline;
	}
h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	color:#6C6C6C;
	font-size:1.9em;
	display:inline;
	}
h3 {
	margin-top: 15px;
	margin-bottom: 0px;
	color:#0061A8;
	font-size:1.6em;
	}
h4 {
	color:#98A072;
	margin-bottom:3px;
	font-size: 1.4em;
	
	}
h5	{
	color: #999;
	font-size: 1.4em;
	}

/* CSS ID's */
#bar {
	
}

#btnNextStep{
	font-size: 0.8em;
}
#bar-content { /*delete? */

}
#caughtException {
	background: #FFCCCC;
	border: 1px solid #FF0000;
	border-left: 5px solid #FF0000;
}
#clear {

	}
	
#col-crud-options, #col-option{
	background: #E9EFD3;
	border: 1px solid #98A072;
	}
	

#col-left {
	
	}
#col-right {

	}
#container {

	}	
#discussion {
	border: 1px solid #CCCCCC;
	border-top: 0px solid #fff !important;  
}

#finished{
	border: 1px solid #CCCCCC;
	
}
#footer {
	border: 1px solid #CCCCCC;
	}
#footer_text {
	font-size: .8em;
	line-height: 1.2em;
	color: #999999;
	}
#footprints {

}
#footprints p{
	font-size: .9em;
	color: #7888A9;
}
#header {
	border-bottom: 3px solid #6C6352;;
	background-color: #7888A9;
	background-image: url(../images/texture_diag.png);
	background-position:left;
	background-repeat: repeat;	
}
#header_cat {
	border-left: 1px solid #7888A9;
	border-right: 1px solid #7888A9;
	background: #7888A9;
	}
#header_cat a:link {
	color: #FFFFFF;
}

#header_discussion{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	}
#header_object{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #fff;
	}
#main {

	}
	
#newDiscussion{
	
}
#object {
	border: 1px solid #CCCCCC;
	border-top: 0px solid #FFFFFF;
	}
#overview {
	border: 1px solid #CCCCCC;
	}
#post {
	border: 1px solid #CCCCCC;
	}
#replies {
	border: 1px solid #CCCCCC;
	border-top: 0px;
	}

#searchresults, #sidebarSearchResults {
	border-left: 1px solid #F2E3EB;
	border-right: 1px solid #F2E3EB;
	border-top: 3px solid #98A072;
	border-bottom: 3px solid #98A072;
	background: #E9EFD3;
	text-align: left;
}

#slate, .slate {
	border: 1px solid #CCCCCC;
	}
#submit {
	border: 1px solid #CCCCCC;
	border-left: 0px;
}
#suppSlate {
	border: 1px solid #CCCCCC;
	}
#tabber {
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 0px 0px 1px 0px;
	}
#tagSelector {
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #F2E3EB; 
	background-color: #E9EFD3;
	}
#themesummary {
	border: 1px solid #CCCCCC;
	}
#toggle{
	border-left: 1px solid #C0D7F6;
	border-right: 1px solid #C0D7F6;
	background-color: #7888A9;
	background-image: url(/images/texture_diag.png);
	background-position:left;
	background-repeat: repeat;	
	}
	
/* Classes */
.allBlue { /*Blue Borders and Background */
	background-color: #C0D7F6 !important;
	border-color: #C0D7F6 !important;
	border-width: 2px;
}

.allGreen{
	background-color: #98A072 !important;
	border: 2px solid #98A072 !important;
}
.blueBB { /*Blue Borders and Background */
	background-color: #EBEFF2 !important;
	border-color: #C0D7F6 !important;
	border-width: 2px;
}
.greenBB{/*green Borders and Background */
	background-color: #E9EFD3 !important;
	border: 2px solid  #98A072 !important;
}
.disc_row_a {

}
.disc_row_b {
	background-color: #F1F7FF;
}
.darkblue {
	background-color: #7888A9 !important;
	border-color: #7888A9 !important;
}
.smalltext { /* used for footprints */
	font-size: .75em;
	color: #7888A9;
}

.participantName a{
	color: #0061A8;
	font-size: 1.0em;
	text-decoration: underline;}
	
.prevNext a{
	border: 1px solid #CCCCCC;
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	background: #EEE;
}

.prevNext a:hover{
	color: #EEE;
	background: #0061A8;
}

.theConcern:hover{
	background:#F1F7FF;
}

/* TAG STYLES */

.tags{  /* used for all tags except for tags in tagcloud */
	font-family: "Verdana", "Arial", sans-serif;
	font-size: .9em;
	margin-right: 5px;
	line-height: 20px;
	margin-top: 10px;
}

.tags a{
	color: #878;
	padding: 1px;
	border: 1px solid #C0D7F6;
	text-decoration: none;
}

.tags a:hover,.tagSize1 a:hover, .tagSize2 a:hover, .tagSize3 a:hover, .tagSize4 a:hover{
	background-color: #C0D7F6;
}


ul.tagsList{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	display: inline;
	line-height: 15px;
}

ul.tagsList img{
	padding-left: 3px;
}

li.tagsList{
	line-height: 25px;
	margin-right: 3px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 2px;
	border: 1px solid #CDC;
	list-style: none;
	display: inline;
	color: #878;
	text-decoration: none;
}


.tagSize1 a, .tagSize2 a, .tagSize3 a, .tagSize4 a{
	color: #878;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #C0D7F6;
	text-decoration: none;
	margin-right: 3px;
}

.tagSize1 a{
	font-size: 0.9em;
}

.tagSize2 a{
	font-size: 1.4em;
}

.tagSize3 a{
	font-size: 1.8em;
}

.tagSize4 a{
	font-size: 2.4em;
	font-weight: bold;
}

.tagSize1, .tagSize2, .tagSize3, .tagSize4{
	margin-right: 5px;
	line-height: 40px;
	margin-top: 10px;
}

/* END TAG STYLES */


.indent {
	padding-left: 20px;
}

/*INPUTS */

input.search {
	border: 1px solid #CCCCCC;
	border-right: 0px;
	color: #C0C0C0;
	padding-left: 3px;
	padding-top: 2px;
	width: 207px;
}

textarea.addConcern {
	display: block;
	width: 93%;
	font-size: 13px;
	color: #333333;
	margin-left: 20px;
	margin-right: 20px;
	word-wrap: break-word;
}


/* Element styles */
strong{
	color: #0061A8;
}

th{background: #E9EFD3; text-transform: capitalize;}