/* table CSS */

#newTable {margin-top:1em;}
#newTable th
{
font-weight:bold;
text-align:center;
color:#000;
background:#ADCFDE;
padding:.2em 0em;
font-size:12pt;
}

#newTable th.right {text-align:right;padding-right:5px;}

#newTable td.fundingSourceItem
{
text-align:left;
padding-left:10px;
}

#newTable td.category {
text-align:left;
border-bottom:2px solid #000;
}

#newTable th.first {
text-align:left;
padding-left:10px;
}

#newTable td
{
padding:5px;
font-size:10pt;
}

#newTable td.cost {font-size:9pt;}

#newTable tr.fundingType
{
background:#D6E7EF;
}

#newTable tr.fundingType2
{
background:#DEECC3;
}

.odd{background:none;}
