#tabContainer {
	
	width: 34%;
	float: right;
}

#tabs {
	float:left;
	width:100%;
	background:#FFFFFF;
	line-height:normal;
}

#tabs ul {
	margin:0;
	padding:14px 10px 0;
	list-style:none;
}

#tabs li {
	float:left;
	background:url("/images/left.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}

#tabs span {
	float:left;
	display:block;
	background:url("/images/right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	color:#321;
}

#tabs li.blue {
	background:url("/images/leftBlue.gif") no-repeat left top;
}

#tabs span.blue {
	background:url("/images/rightBlue.gif") no-repeat right top;
}


#tabs li.red {
	background:url("/images/leftRed.gif") no-repeat left top;
}

#tabs span.red {
	background:url("/images/rightRed.gif") no-repeat right top;
}


#tabs li.green {
	background:url("/images/leftGreen.gif") no-repeat left top;
}

#tabs span.green {
	background:url("/images/rightGreen.gif") no-repeat right top;
}


#tabs li.darkgreen {
	background:url("/images/leftDarkGreen.gif") no-repeat left top;
}

#tabs span.darkgreen {
	background:url("/images/rightDarkGreen.gif") no-repeat right top;
}


#tabs li.orange {
	background:url("/images/leftOrange.gif") no-repeat left top;
}

#tabs span.orange {
	background:url("/images/rightOrange.gif") no-repeat right top;
}


#tabs .current {
	/* background-image:url("/images/left_on.gif"); */
	background-image:url("/images/leftBlue.gif");
}

#tabs .current span {
	/* background-image:url("/images/right_on.gif"); */
	background-image:url("/images/rightBlue.gif");
	color:#333333;
	padding-bottom:5px;
	font-weight: bold;
	font-size: 14px;
}

#tabs .bluecurrent {
	background-image:url("/images/leftBlue.gif");
}

#tabs .bluecurrent span {
	background-image:url("/images/rightBlue.gif");
	color:black;
	padding-bottom:5px;
	font-weight: bold;
}

#tabs .redcurrent {
	background-image:url("/images/leftRed.gif");
}

#tabs .redcurrent span {
	background-image:url("/images/rightRed.gif");
	padding-bottom:5px;
	font-weight: bold;
}

#tabs .greencurrent {
	background-image:url("/images/leftGreen.gif");
}

#tabs .greencurrent span {
	background-image:url("/images/rightGreen.gif");
	color:black;
	padding-bottom:5px;
	font-weight: bold;
}

#tabs .darkgreencurrent {
	background-image:url("/images/leftDarkGreen.gif");
}

#tabs .darkgreencurrent span {
	background-image:url("/images/rightDarkGreen.gif");
	color:black;
	padding-bottom:5px;
	font-weight: bold;
}

#tabs .orangecurrent {
	background-image:url("/images/leftOrange.gif");
}

#tabs .orangecurrent span {
	background-image:url("/images/rightOrange.gif");
	color:black;
	padding-bottom:5px;
	font-weight: bold;
}

.tabHandle {
	border: 0px;
	display: inline;
	/* cursor: move; */
}

#tabPanels {
}

.Panel {
	background: #EEEEEE;
	padding: 5px;
	border: 1px solid #CCCCCC;
	
}

.bluePanel {
	background: #acc6d5;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.redPanel {
	background: #e6d2cd;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.greenPanel {
	background: #94ee83;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.darkgreenPanel {
	background: #08ea08;
	padding: 5px;
	border: 1px solid #CCCCCC

.orangePanel {
	background: #ee8d10;
	padding: 5px;
	border: 1px solid #CCCCCC;
	color: white;
}
