#object{
	border: 1px solid #ccc;
	border-top: 0px solid #fff;
	width: 90%;
	margin: auto;
	height: 25%;
	overflow: auto;
	padding: 10px;
	padding-top: 0px;
}
#discussion{
	border: 1px solid #ccc;
	border-top: 0px solid #fff !important;  
	margin: auto;
	height: 40%;
	overflow: auto;
	padding: 0px;
	width: 88%;
	padding-top: 0px;
}
#toggle{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: auto; 	
	width: 88%;
	text-align: center;
	padding: 0px 0px 0px 0px;
	height: 9px;
}
#header_discussion{
	background: #fff;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	width: 88%;
}
#header_cat {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	width: 88%;
}