.tooltip
	{
	background-color:#ffffff;
	font-weight:bold;
	border:1px #006699 solid;
	}

div.markerTooltip, div.markerDetail
	{
  color: black;
  font-weight: bold;
  background-color: white;
  white-space: nowrap;
  margin: 0;
  padding: 2px 4px;
  border: 1px solid black;
 	}

input.menu_btns,select.menu_btns
	{
	width:55px;
	height:19px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#87CEEB;
	border:1px solid;
	border-color:#669966;
	}
	
input.dis_menu_btns
	{
	width:55px;
	height:19px;
	font-size:10px;
	color:#A0A0A0;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#669966;
	}	

input.updown_btns,select.updown_btns
	{
	width:40px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#87CEEB;
	border:1px solid;
	border-color:#669966;
	}

input.show_btn,select.show_btn
	{
	width:80px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	/*background-color:#E6E6FA;*/
	background-color:#87CEEB;
	border:1px solid;
	border-color:#669966;
	}

input.fill_btn,select.fill_btn
	{
	width:150px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:16px;
	background-color:#87CEEB;
	border:1px solid;
	border-color:#669966;
	}
	
input.red_fill_btn
	{
	width:150px;
	color:red;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:16px;
	background-color:#87CEEB;
	border:1px solid;
	border-color:red;
	}
	
input.btnhov_rfbtn
	{
	width:150px;
	color:red;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:16px;
	background-color:#E6E6FA;
	border:1px solid;
	border-color:red;
	}		
	
input.dis_fill_btn
	{
	width:150px;
	color:#A0A0A0;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:16px;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#669966;
	}

input.btnhov_fbtn
	{
	width:150px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:16px;
	/*background-color:#E6E6FA;*/
	background-color:#E6E6FA;
	border:1px solid;
	border-color:#66ccff;
	}

input.midsize_btns,select.midsize_btns
	{
	width:80px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	border:1px solid;
	background-color:#87CEEB;
	border-color:#669966;
	}

input.large_btns,select.large_btns
	{
	width:140px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	border:1px solid;
	background-color:#87CEEB;
	border-color:#669966;
	}

input.huge_btns
	{
	width:230px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#87CEEB;
	border:1px solid;
	border-color:#669966;
	}

input.huge_btns2
	{
	width:140px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#87CEEB;
	border:1px solid;
	border-color:#669966;
	}

input.btnhov
	{
	width:55px;
	height:19px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#E6E6FA;
	border:1px solid;
	border-color:#66ccff;
	}

input.btnhov_lb
	{
	width:140px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	border:1px solid;
	background-color:#E6E6FA;
	border-color:#66ccff;
	}

input.btnhov_msb
	{
	width:80px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	border:1px solid;
	background-color:#E6E6FA;
	border-color:#66ccff;
	}

input.btnhov_sb
	{
	width:80px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	/*background-color:#E6E6FA;*/
	background-color:#E6E6FA;
	border:1px solid;
	border-color:#66ccff;
	}

input.btnhov_udb
	{
	width:40px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#E6E6FA;
	border:1px solid;
	border-color:#66ccff;
	}

input.btnhov_hb
	{
	width:230px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#E6E6FA;
	border:1px solid;
	border-color:#66ccff;
	}

input.btnhov_hb2
	{
	width:140px;
	height:20px;
	font-size:10px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#E6E6FA;
	border:1px solid;
	border-color:#66ccff;
	}

input.fields,select.fields
	{
	font-size:11px;
	width:250px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	border:1px solid;
	border-color:#669966;
	}
	
input.fieldsInitial
	{
	font-size:11px;
	width:250px;
	color:gray;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-style:italic;
	background-color:white;
	border:1px solid;
	border-color:#669966;
	}
	
input.dis_fields
	{
	font-size:11px;
	width:250px;
	color:#A0A0A0;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#669966;
	}		

input.lists,select.lists
	{
	width:36ex;
	font-size:11px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	border:1px solid;
	border-color:#669966;
	}

input.tripList,select.tripList
	{
	width:310px;
	font-size:11px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	border:1px solid;
	border-color:#669966;
	}

input.dhtml_fields,select.dhtml_fields
	{
	width:42ex;
	font-size:14px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#F5F5F5;
	}

.heading
	{
	margin-left:20px;
	color:#050;
	font-size:26px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	}	
	
.heading2
	{
	color:#3366FF;
	font-size:22px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	}		

.hd_labels
	{
	color:#050;
	font-size:16px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	}

.number_labels
	{
	color:#050;
	font-size:20px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#F5F5F5;
	}	

.std_labels
	{
	color:#050;
	font-size:16px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#F5F5F5;
	}
	
.description_labels
	{
	color:#050;
	font-size:12px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#F5F5F5;
	}	
	
.small_labels
	{
	color:#050;
	font-size:9px;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:#F5F5F5;
	}

.radio_btn_labels
	{
	font-size:14px;
	color:#050;
	font-family:'trebuchet ms',helvetica,sans-serif;
	background-color:white;
	}

.hrline
	{
	width:100%;
	height:.5px;
	background-color:gray;
	}

.hrfullline
	{
	width:75%;
	height:.5px;
	background-color:gray;
	}

.helpme
	{
	color:black;
	height:90px;
	font-size:12px;
	border:1px solid;
	border-color:#009999;
	text-align:left;
	font-family:sans-serif;
	background-color:#F5F5F5;
	padding:10px;
	margin-top:10px;
	font-weight:600;
	}