#lastCol{width:250px;}

#workflows #newTable {
font-size:10pt;
width:100%;
margin-top:2px;
padding:5px;
border:1px solid #C6D78C;
}

#workflows th {background:#E1F1C5}
#workflows th.last {text-align:right}

#workflows td {
background:#FDFFF7;
border-bottom:1px solid #DAEABE;
padding:5px;
}

#newTable th, #left-col #newTable td {
padding:5px;
}

#newTable input {float:right;}

.noActive{
text-align:center;
}

.running td {padding:5px;}
.running ul li {list-style:none;}
.running ul {padding-left:12px;}
.running h4 {}

#workflows h3 {margin-top:10px;}
#workflows .noActive h3 {margin-top:0px;}

#newExpiriment{
background:#FDFFF7;
margin:10px auto;
padding:5px;
}

#newExpiriment h4{
background:#E1F1C5;
padding:5px;
margin-top:0px;
}

#workflows button {margin-top:10px;}
#workflows button img {vertical-align:bottom;}

#newExp p label, #newExp p input {
display:block;
float:left;
margin-top:5px;
}

#newExp p label {width:100px;}
#newExp p {clear:both;}

#newExpiriment ul  {margin-top:-10px;padding-top:0px;}
#newExpiriment ul li {list-style:none}

#expDesc {width:350px;}

#global-components{text-align:left;}

#global-components ul {
list-style:none;
padding:0px;
margin:0px;
}

#global-components li {
margin:0px 5px 5px 0px;
width:118px;
padding:5px;
border:1px solid #C6D78C;
float:left;
}

#global-components a {
padding:5px;
background:#EEF7DD;
text-align:center;
color:#000;
display:block;
text-decoration:none;
}

#global-components a:hover{
background:#E1F1C5;
}

#global-components li a img {margin-right:5px;}
