<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory name="cvotest">


        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">pgist</property>
        <property name="connection.password">pgist</property>
        <property name="connection.url">jdbc:postgresql://localhost/cvotest</property>
        <property name="dbcp.maxActive">20</property>
        <property name="dbcp.whenExhaustedAction">1</property>
        <property name="dbcp.testOnBorrow">true</property>
        <property name="dbcp.validationQuery">select 1</property>
        <property name="dbcp.maxWait">120000</property>
        <property name="dbcp.maxIdle">10</property>
        <property name="dbcp.ps.maxActive">20</property>
        <property name="dbcp.ps.whenExhaustedAction">1</property>
        <property name="dbcp.ps.maxWait">120000</property>
        <property name="dbcp.ps.maxIdle">10</property>
        <property name="max_fetch_depth">1</property>
        <property name="jdbc.fetch_size">50</property>
        <property name="jdbc.batch_size">30</property>
        <property name="jdbc.use_scrollable_resultset">true</property>
        <property name="show_sql">true</property>


        <mapping resource="org/pgist/users/User.hbm.xml"/>
        <mapping resource="org/pgist/users/Role.hbm.xml"/>
        
        <mapping resource="org/pgist/model/Discussible.hbm.xml"/>
        <mapping resource="org/pgist/model/DiscourseObject.hbm.xml"/>
        <mapping resource="org/pgist/model/Post.hbm.xml"/>
        
        <mapping resource="org/pgist/cvo/Category.hbm.xml"/>
        <mapping resource="org/pgist/cvo/Tag.hbm.xml"/>
        
        <mapping resource="org/pgist/workflow/DecisionSituation.hbm.xml"/>
        
        <mapping resource="org/pgist/wfengine/WorkflowEnvironment.hbm.xml"/>
        <mapping resource="org/pgist/wfengine/RunningContext.hbm.xml"/>
        <mapping resource="org/pgist/wfengine/Workflow.hbm.xml"/>
        <mapping resource="org/pgist/wfengine/Activity.hbm.xml"/>
        <mapping resource="org/pgist/wfengine/Task.hbm.xml"/>
        <mapping resource="org/pgist/wfengine/AccessManager.hbm.xml"/>
        <mapping resource="org/pgist/wfengine/Template.hbm.xml"/>
        

    </session-factory>


</hibernate-configuration>
