<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css" media="screen">
@import "../styles/styles.css";.style1 {color: #8DAD1F}
</style>
</head>

<body>
<h1>heading 1</h1> <br />
<h2>heading 2</h2> <br />
<h3>heading 3</h3> <br />
<h4>heading 4</h4> <br />
<h5>heading 5</h5> <br />
<h6>heading 6</h6> <br />
<h7>heading 7</h7> <br />

<p>This is a paragraph of text</p>

<strong>Strong</strong> <br />
<small>Small</small><br />
<br />

<ul>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ul>
<br />
<br />

Horizontal Rule
<hr />
<p><br />
  <br />
  
    <b>BOLD</b><br />
  <br />
  
  
    <a href="#">This is a link</a><br />
</p>
<p><img src="colors.png" width="489" height="362" /></p>
<p>#0033CC</p>
<p>#00248F</p>
<p>#BFCFFF</p>
<p>#809FFF</p>
<p class="style1">#8DAD1F</p>
</body>
</html>
